{#
/**
 * @input
 * Theme override for a input datalist
 *
 * Available variables:
 * - idName : ID to bind the label and the input field.
 * - name: Name to the field.
 * - value: Defualt value.
 * - label: The title of the field.
 * - listName: Name to bind the datalist and the input field
 * - options: table for the options
 *
 */
#}

<div class="input-field atomic-datalist">

    <label for="{{ idName }}" class="animation-label">{{ label }}</label>

    <input type="text" id="{{ idName }}" list="{{ listName }}" class="field-value"  />

    <datalist id="{{ listName }}">

        {% for option in options %}

            {% include directory~'/templates/components/inputs/input-option.html.twig' with {'value': option} %}

        {% endfor %}

    </datalist>

</div>